# {{ ansible_managed }}

{% macro body_option(key,override) -%}
{%   set value = undefined %}
{%   if override is defined %}
{%     set value = override %}
{%   elif opensshd[key] is defined %}
{%     set value = opensshd[key] %}
{%   elif opensshd_defaults[key] is defined and opensshd_skip_defaults != true %}
{%     set value = opensshd_defaults[key] %}
{%   endif %}
{{ render_option(key,value) -}}
{%- endmacro %}

{#- Match Options Jinja Template #}
{% macro match_block(match_list) -%}
{%   if match_list["Condition"] is defined %}
{%     set match_list = [ match_list ]%}
{%   endif %}
{%   if match_list is iterable %}
{%     for match in match_list %}
Match {{ match["Condition"] }}

{% if opensshd['Match'] is defined %}
{{ match_block(opensshd['Match']) -}}
{% endif %}
{% if opensshd_match is defined %}
{{ match_block(opensshd_match) -}}
{% endif %}
{% if opensshd_match_1 is defined %}
{{ match_block(opensshd_match_1) -}}
{% endif %}
{% if opensshd_match_2 is defined %}
{{ match_block(opensshd_match_2) -}}
{% endif %}
{% if opensshd_match_3 is defined %}
{{ match_block(opensshd_match_3) -}}
{% endif %}
{% if opensshd_match_4 is defined %}
{{ match_block(opensshd_match_4) -}}
{% endif %}
{% if opensshd_match_5 is defined %}
{{ match_block(opensshd_match_5) -}}
{% endif %}
{% if opensshd_match_6 is defined %}
{{ match_block(opensshd_match_6) -}}
{% endif %}
{% if opensshd_match_7 is defined %}
{{ match_block(opensshd_match_7) -}}
{% endif %}
{% if opensshd_match_8 is defined %}
{{ match_block(opensshd_match_8) -}}
{% endif %}
{% if opensshd_match_9 is defined %}
{{ match_block(opensshd_match_9) -}}
{% endif %}
{{       render_option("AllowAgentForwarding",match["AllowAgentForwarding"],true) -}}
{{       render_option("AllowGroups",match["AllowGroups"],true) -}}
{{       render_option("AllowTcpForwarding",match["AllowTcpForwarding"],true) -}}
{{       render_option("AllowUsers",match["AllowUsers"],true) -}}
{{       render_option("AuthenticationMethods",match["AuthenticationMethods"],true) -}}
{{       render_option("AuthorizedKeysCommand",match["AuthorizedKeysCommand"],true) -}}
{{       render_option("AuthorizedKeysCommandUser",match["AuthorizedKeysCommandUser"],true) -}}
{{       render_option("AuthorizedKeysFile",match["AuthorizedKeysFile"],true) -}}
{{       render_option("AuthorizedPrincipalsFile",match["AuthorizedPrincipalsFile"],true) -}}
{{       render_option("Banner",match["Banner"],true) -}}
{{       render_option("ChrootDirectory",match["ChrootDirectory"],true) -}}
{{       render_option("DenyGroups",match["DenyGroups"],true) -}}
{{       render_option("DenyUsers",match["DenyUsers"],true) -}}
{{       render_option("ForceCommand",match["ForceCommand"],true) -}}
{{       render_option("GatewayPorts",match["GatewayPorts"],true) -}}
{{       render_option("GSSAPIAuthentication",match["GSSAPIAuthentication"],true) -}}
{{       render_option("HostbasedAuthentication",match["HostbasedAuthentication"],true) -}}
{{       render_option("HostbasedUsesNameFromPacketOnly",match["HostbasedUsesNameFromPacketOnly"],true) -}}
{{       render_option("KbdInteractiveAuthentication",match["KbdInteractiveAuthentication"],true) -}}
{{       render_option("KerberosAuthentication",match["KerberosAuthentication"],true) -}}
{{       render_option("MaxAuthTries",match["MaxAuthTries"],true) -}}
{{       render_option("MaxSessions",match["MaxSessions"],true) -}}
{{       render_option("PasswordAuthentication",match["PasswordAuthentication"],true) -}}
{{       render_option("PermitEmptyPasswords",match["PermitEmptyPasswords"],true) -}}
{{       render_option("PermitOpen",match["PermitOpen"],true) -}}
{{       render_option("PermitRootLogin",match["PermitRootLogin"],true) -}}
{{       render_option("PermitTunnel",match["PermitTunnel"],true) -}}
{{       render_option("PubkeyAuthentication",match["PubkeyAuthentication"],true) -}}
{{       render_option("RhostsRSAAuthentication",match["RhostsRSAAuthentication"],true) -}}
{{       render_option("RSAAuthentication",match["RSAAuthentication"],true) -}}
{{       render_option("X11DisplayOffset",match["X11DisplayOffset"],true) -}}
{{       render_option("X11Forwarding",match["X11Forwarding"],true) -}}
{{       render_option("X11UseLocalHost",match["X11UseLocalHost"],true) -}}
{%     endfor %}
{%   endif %}
{%- endmacro %}

{#- Render Options Jinja Template #}
{% macro render_option(key,value,indent=false) -%}
{%   if value is defined %}
{%     if indent == true %}  {% endif %}
{%     if value is sameas true %}
{{ key }} yes
{%     elif value is sameas false %}
{{ key }} no
{%     elif value is string or value is number %}
{{ key }} {{ value }}
{%     else %}
{%       for i in value %}
{{ key }} {{ i }}
{%       endfor %}
{%     endif %}
{%   endif %}
{%- endmacro %}

#
# Main SSH Options
#
{{ body_option("Port",opensshd_Port) -}}
{{ body_option("AddressFamily",opensshd_AddressFamily) -}}
{{ body_option("ListenAddress",opensshd_ListenAddress) -}}
{{ body_option("Protocol",opensshd_Protocol) -}}
{{ body_option("HostKey",opensshd_HostKey) -}}
{{ body_option("AcceptEnv",opensshd_AcceptEnv) -}}
{{ body_option("AllowAgentForwarding",opensshd_AllowAgentForwarding) -}}
{{ body_option("AllowTcpForwarding",opensshd_AllowTcpForwarding) -}}
{{ body_option("AuthenticationMethods",opensshd_AuthenticationMethods) -}}
{{ body_option("AuthorizedKeysCommand",opensshd_AuthorizedKeysCommand) -}}
{{ body_option("AuthorizedKeysCommandUser",opensshd_AuthorizedKeysCommandUser) -}}
{{ body_option("AuthorizedKeysFile",opensshd_AuthorizedKeysFile) -}}
{{ body_option("AuthorizedPrincipalsFile",opensshd_AuthorizedPrincipalsFile) -}}
{{ body_option("Banner",opensshd_Banner) -}}
{{ body_option("ChallengeResponseAuthentication",opensshd_ChallengeResponseAuthentication) -}}
{{ body_option("ChrootDirectory",opensshd_ChrootDirectory) -}}
{{ body_option("Ciphers",opensshd_Ciphers) -}}
{{ body_option("ClientAliveCountMax",opensshd_ClientAliveCountMax) -}}
{{ body_option("ClientAliveInterval",opensshd_ClientAliveInterval) -}}
{{ body_option("Compression",opensshd_Compression) -}}
{{ body_option("DebianBanner",opensshd_DebianBanner) -}}
{{ body_option("ForceCommand",opensshd_ForceCommand) -}}
{{ body_option("GSSAPIAuthentication",opensshd_GSSAPIAuthentication) -}}
{{ body_option("GSSAPICleanupCredentials",opensshd_GSSAPICleanupCredentials) -}}
{{ body_option("GSSAPIKeyExchange",opensshd_GSSAPIKeyExchange) -}}
{{ body_option("GSSAPIStoreCredentialsOnRekey",opensshd_GSSAPIStoreCredentialsOnRekey) -}}
{{ body_option("GSSAPIStrictAcceptorCheck",opensshd_GSSAPIStrictAcceptorCheck) -}}
{{ body_option("GatewayPorts",opensshd_GatewayPorts) -}}
{{ body_option("HPNBufferSize",opensshd_HPNBufferSize) -}}
{{ body_option("HPNDisabled",opensshd_HPNDisabled) -}}
{{ body_option("HostCertificate",opensshd_HostCertificate) -}}
{{ body_option("HostKeyAgent",opensshd_HostKeyAgent) -}}
{{ body_option("HostbasedAuthentication",opensshd_HostbasedAuthentication) -}}
{{ body_option("HostbasedUsesNameFromPacketOnly",opensshd_HostbasedUsesNameFromPacketOnly) -}}
{{ body_option("IPQoS",opensshd_IPQoS) -}}
{{ body_option("IgnoreRhosts",opensshd_IgnoreRhosts) -}}
{{ body_option("IgnoreUserKnownHosts",opensshd_IgnoreUserKnownHosts) -}}
{{ body_option("KbdInteractiveAuthentication",opensshd_KbdInteractiveAuthentication) -}}
{{ body_option("KerberosAuthentication",opensshd_KerberosAuthentication) -}}
{{ body_option("KerberosGetAFSToken",opensshd_KerberosGetAFSToken) -}}
{{ body_option("KerberosOrLocalPasswd",opensshd_KerberosOrLocalPasswd) -}}
{{ body_option("KerberosTicketCleanup",opensshd_KerberosTicketCleanup) -}}
{{ body_option("KexAlgorithms",opensshd_KexAlgorithms) -}}
{{ body_option("KeyRegenerationInterval",opensshd_KeyRegenerationInterval) -}}
{{ body_option("LogLevel",opensshd_LogLevel) -}}
{{ body_option("LoginGraceTime",opensshd_LoginGraceTime) -}}
{{ body_option("MACs",opensshd_MACs) -}}
{{ body_option("MaxAuthTries",opensshd_MaxAuthTries) -}}
{{ body_option("MaxSessions",opensshd_MaxSessions) -}}
{{ body_option("MaxStartups",opensshd_MaxStartups) -}}
{{ body_option("NoneEnabled",opensshd_NoneEnabled) -}}
{{ body_option("PasswordAuthentication",opensshd_PasswordAuthentication) -}}
{{ body_option("PermitEmptyPasswords",opensshd_PermitEmptyPasswords) -}}
{{ body_option("PermitOpen",opensshd_PermitOpen) -}}
{{ body_option("PermitRootLogin",opensshd_PermitRootLogin) -}}
{{ body_option("PermitTTY",opensshd_PermitTTY) -}}
{{ body_option("PermitTunnel",opensshd_PermitTunnel) -}}
{{ body_option("PermitUserEnvironment",opensshd_PermitUserEnvironment) -}}
{{ body_option("PidFile",opensshd_PidFile) -}}
{{ body_option("PrintLastLog",opensshd_PrintLastLog) -}}
{{ body_option("PrintMotd",opensshd_PrintMotd) -}}
{{ body_option("PubkeyAuthentication",opensshd_PubkeyAuthentication) -}}
{{ body_option("RSAAuthentication",opensshd_RSAAuthentication) -}}
{{ body_option("RekeyLimit",opensshd_RekeyLimit) -}}
{{ body_option("RevokedKeys",opensshd_RevokedKeys) -}}
{{ body_option("RhostsRSAAuthentication",opensshd_RhostsRSAAuthentication) -}}
{{ body_option("ServerKeyBits",opensshd_ServerKeyBits) -}}
{{ body_option("StrictModes",opensshd_StrictModes) -}}
{{ body_option("Subsystem",opensshd_Subsystem) -}}
{{ body_option("SyslogFacility",opensshd_SyslogFacility) -}}
{{ body_option("TCPKeepAlive",opensshd_TCPKeepAlive) -}}
{{ body_option("TcpRcvBufPoll",opensshd_TcpRcvBufPoll) -}}
{{ body_option("TrustedUserCAKeys",opensshd_TrustedUserCAKeys) -}}
{{ body_option("UseDNS",opensshd_UseDNS) -}}
{{ body_option("UseLogin",opensshd_UseLogin) -}}
{{ body_option("UsePAM",opensshd_UsePAM) -}}
{{ body_option("UsePrivilegeSeparation",opensshd_UsePrivilegeSeparation) -}}
{{ body_option("VersionAddendum",opensshd_VersionAddendum) -}}
{{ body_option("X11DisplayOffset",opensshd_X11DisplayOffset) -}}
{{ body_option("X11Forwarding",opensshd_X11Forwarding) -}}
{{ body_option("X11UseLocalhost",opensshd_X11UseLocalhost) -}}
{{ body_option("XAuthLocation",opensshd_XAuthLocation) -}}

#
# Set up Allow/Deny Users/Groups
#
{{ body_option("AllowUsers",opensshd_AllowUsers) -}}
{{ body_option("DenyUsers",opensshd_DenyUsers) -}}
{{ body_option("AllowGroups",opensshd_AllowGroups) -}}
{{ body_option("DenyGroups",opensshd_DenyGroups) -}}

#
# Match Blocks -- if applicable
#
{% if opensshd['Match'] is defined %}
{{ match_block(opensshd['Match']) -}}
{% endif %}
{% if opensshd_match is defined %}
{{ match_block(opensshd_match) -}}
{% endif %}
{% if opensshd_match_1 is defined %}
{{ match_block(opensshd_match) -}}
{% endif %}
{% if opensshd_match_2 is defined %}
{{ match_block(opensshd_match) -}}
{% endif %}
{% if opensshd_match_3 is defined %}
{{ match_block(opensshd_match) -}}
{% endif %}
{% if opensshd_match_4 is defined %}
{{ match_block(opensshd_match) -}}
{% endif %}
{% if opensshd_match_5 is defined %}
{{ match_block(opensshd_match) -}}
{% endif %}
{% if opensshd_match_6 is defined %}
{{ match_block(opensshd_match) -}}
{% endif %}
{% if opensshd_match_7 is defined %}
{{ match_block(opensshd_match) -}}
{% endif %}
{% if opensshd_match_8 is defined %}
{{ match_block(opensshd_match) -}}
{% endif %}
{% if opensshd_match_9 is defined %}
{{ match_block(opensshd_match) -}}
{% endif %}
