#{{ ansible_managed }}

{% for key, value in opensshd_server_settings.iteritems() %}
{{ key }} {{ value }}
{% endfor %}

{% if opensshd_server_matchblocks is defined %}
{%   for rule in opensshd_server_matchblocks %}

Match {{ rule.criteria }} {{ rule.match_list|join(',') }}
{%     for key, value in rule.keywords.iteritems() %}
{{ key }} {{ value }}
{%     endfor %}
{%   endfor %}
{% endif %}

{% if opensshd_server_denyusers is defined %}
DenyUsers {{ opensshd_server_denyusers|join(' ') }}
{% endif %}
{% if opensshd_server_allowusers is defined %}
AllowUsers {{ opensshd_server_allowusers|join(' ') }}
{% endif %}
{% if opensshd_server_denygroups is defined %}
DenyGroups {{ opensshd_server_denygroups|join(' ') }}
{% endif %}
{% if opensshd_server_allowgroups is defined %}
AllowGroups {{ opensshd_server_allowgroups|join(' ') }}
{% endif %}
